body {
    margin: 0em;
}

header {
    text-align: center;
    padding:1em;
    background: rgb(180,58,58);
    background: linear-gradient(90deg, rgba(180,58,58,1) 10%, rgba(253,29,29,1) 55%, rgba(252,127,69,1) 95%);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

header a{
    display: block;
    padding: 1em;
    width: 20%;
    margin: 1em auto;
    border: 1px solid black;
    background-color: azure;
    border-radius: 10px;
    background-clip: padding-box;
}

header a:hover, #nav a:hover {
    background-color: seashell;
}

header a, #nav a {
    color: black;
}

header ul {
    padding:0em;
}

h1 {
    text-align: center;
}


header small {
    float:right;
}

a {
    text-decoration: none;
}

#nav ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    list-style: None;
    background-color: azure;
}

#nav li {
    width:50%;
}

#nav li a {
    padding: 1em 0em;
    text-align: center;
    text-decoration: none;
}

#nav a {
    display: block;
}

#nav a {
    display: block;
}

#nav a {
    border-left: 1px solid black;
}

#nav li:first-child a {
    border-left: none;
}

table {
    margin: 0em auto;
}

table, th, td {
    padding: 0.5em;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: lightgray;
}

#leaderboard_headings, #leaderboard_ranks {
    background-color: grey;   
}


